<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Project1</title>
</head>


<body background = "https://wallpaperaccess.com/full/1567665.png" alink = "white" vlink = "white" link = "white" >
<br />
<h3 align = "center">
    <font face = "Optima" size = "7" color = "white">Project 1
        <br /><br />
        <a href="/">Home</a>
    </font>
    <br /><br /><br /><br />
    <iframe align = "center" frameborder="1" width="100%" height="500px" src="https://repl.it/@MarcHumeau/Animation-System-Monkey?lite=true"></iframe>

</h3>

<h2 align = "center"> Title: Monkey Evolution Animation System> <br />
    Date: October 9, 2020
</h2>
</body>
</html>